<div class="page-data">
    <p cellpadding="11" class="label">Please enter following data:</p>

    <form method="post" name="addForm">

        <table cellpadding="11">
            <tr>
                <td class="label">Name111</td>
                <td>:
                <input type="text" name="name" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="customerToEdit.name" minlength="3" maxlength="20" required>
            </td>
            <td>
                <div ng-messages="addForm.name.$error" ng-if="addForm.name.$dirty">
                    <div ng-message="required">Please enter your name</div>
                    <div ng-message="minlength">At least 3 symbols</div>
                    <div ng-message="maxlength">Entry is too long</div>
                    <div ng-message="pattern">Only letters, please</div>
                    <div ng-message="usernameAvailable">The name entered has already been registered</div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="label">Surname</td>
            <td>:
                    <input type="text" name="surname" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="customerToEdit.surname" minlength="3" maxlength="20" required>
            </td>
            <td>
                <div ng-messages="addForm.surname.$error" ng-if="addForm.surname.$dirty">
                    <div ng-message="required">Please enter your surname</div>
                    <div ng-message="minlength">At least 3 symbols</div>
                    <div ng-message="maxlength">Entry is too long</div>
                    <div ng-message="pattern">Only letters, please</div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="label">Plate ID</td>
            <td>:
            <input type="text" name="plateid" ng-pattern="/^[a-zA-Z]{3}[0-9]{3}$/" ng-model="customerToEdit.plateid" required>
            </td>
            <td>
                <div ng-messages="addForm.plateid.$error" ng-if="addForm.plateid.$dirty">
                    <div ng-message="required">Please enter your name</div>
                    <div ng-message="pattern">Please use format as follows: ABC123</div>
                </div>
            </td>

        </tr>
        <tr>
            <td class="label"></td>
            <td>
                &nbsp;


                &nbsp;
                <input type="submit" value="Save" 
                ng-disabled="!customerToEdit.name || addForm.name.$invalid || !customerToEdit.surname || addForm.surname.$invalid || !customerToEdit.plateid || addForm.plateid.$invalid"
                ng-click="updateCustomer(customerToEdit)">
                <input type="button" name="cancel" value="Cancel" class="cancel" ng-click="cancelAdd()">

                <!-- 
                <input type="submit" name="submit" value="Save" ng-click="updateCustomer(customerToEdit)">
                <input type="submit" name="submit" value="Test" ng-click="testCustomer(customerToEdit)">
                <input type="button" name="cancel" value="Cancel" class="cancel" ng-click="cancelAdd()"> 
                -->
            </td>
        </tr>
    </table>


</div>

</form>